<h1>Create a New Dog</h1>

<%= form_for @dog do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :breed %>
  <%= f.number_field :breed %>
  <br>
  <br>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <%= f.submit %>
<% end %>
